header {
   text-align: center;
}

body {
   text-decoration: none;
   text-align: center;
}

#main-header {
   font-size: 30px;
   background-color: #808080;
   /*background-color: #008cba;*/
}

#main-header a {
   text-decoration: none;
   color: #fff;
}

ul {
   list-style-type: none;
   font-size: 18px;
   padding: 0;
   margin: 0;
}

ul li {
   overflow:hidden;
}

li {
   padding: 0;
   margin: 0;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.category {
   background-color: #c8c8c8;
}

.item {

}

button {
   font-size: 24px;
   border: solid;
   text-align: center;
}

input {
   font-size: 20px
}

#addItembtn {
   position: fixed;
   bottom: 10%;
   right: 10%;
   margin: auto;
   padding: 28px 28px;
   border-radius: 50%;
   border:solid;
}

#confirmItembtn {
   position: fixed;
   bottom: 20%;
   margin: auto;
}

#addItem-header {
   font-size: 30px;
   color: white;
   margin: 0;
   padding: 0;
   top: 0;
   background-color: #808080;
}

.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
   height: 80%
}

.box {
   margin: auto;
   border: solid;
   background-color: #808080;
   width: 20%;
   height: 50px;
}

.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}