<!DOCTYPE html>
<html>
<head>
   <title>App Login</title>

   <script src="/js/javascript.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <link href="/css/style.css" rel="stylesheet" />

</head>

<body>

<h3>FoodGroup Login</h3>

<div>
  <form>
    <div>
    <input type="text" id="email" name="Email address" placeholder = "Email" required>
    </div>

    <div>
    <input type="text" id="password" name="Password" placeholder = "Password" required>
      </div>

    <a href="sections"><button type="button">Login</button></a>
  </form>
</div>

</body>
</html>